extends ../layouts/main-layout
block styles
	link(rel="stylesheet", href="/css/main-styles.css")
block content
	main
		form.product-form(action="/admin/add-product", method="POST")
			.form-control
				label.title
				input(type="text", name="title", id="title")
				button.btn(type="submit") Add a product


