.form-control {
    margin: 1rem 0;
}
.form-control label, .form-control input {
    display: block;
}
.form-control input {
    border: 1px solid blanchedalmond;
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border: 1px solid black;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
